<!-- your_template.html -->
{% extends "portfolio.html" %}

{% block title %}Habert's Portfolio{% endblock %}

{% block content %}
    <h1>Hello, I'm Habert!</h1>
    <p>I'm an aspiring web developer and software engineer.</p>
    <h3>Follow me on:</h3>
    <ul>
        <li><a href="https://www.instagram.com/your_instagram_username/">Instagram</a></li>
        <li><a href="https://www.linkedin.com/in/your_linkedin_username/">LinkedIn</a></li>
        <li><a href="https://github.com/habert-kungu">GitHub</a></li>
    </ul>
{% endblock %}
